//
%rest-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  font-family: inherit;
  text-transform: capitalize;
  cursor: pointer;

  //
  &:focus {
    outline: none;
  }
}

@mixin changeScrollBar(
  $width: 5,
  $colorTrack: var(--primary),
  $colorThumb: var(--thirdenth)
) {
  //
  &::-webkit-scrollbar {
    width: #{$width}px;
    height: #{$width}px;
  }

  //
  &::-webkit-scrollbar-track {
    background-color: #{$colorTrack};
  }

  //
  &::-webkit-scrollbar-thumb {
    background-color: #{$colorThumb};
    border-radius: 0;
  }
}
